body {
    background-image: url(./backgroundc2-01.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: white;
    width: 100px;
    height: 100px;
    transition all is ease-in-out;
}

.box:hover {
    transform: rotate(25deg);
}